@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
    color: #163a50;
}

.body {
    background-color: #d6ecff;
}

.btn-border-white {
    background-color: transparent;
    color: white !important;
    border: 2px solid white;
}

.btn-border-white:hover {
    background-color: white;

}

.btn-border-blue {
    background-color: transparent;
    color: #163a50 !important;
    border: 2px solid #163a50;
}

.btn-border-blue:hover {
    background-color: #163a50;
    color: #fff !important;
    border: 2px solid #fff;

}

.btn-border-white h4,
.btn-border-white p {
    color: white;
}

.btn-border-white:hover h4,
.btn-border-white:hover p {
    color: #163a50;

}

.bg-blue-low {
    background-color: rgb(76, 104, 240);
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #1d3b54;
}

.bg-blue-light {
    background-color: #d6ecff;
}

.text-blue {
    color: #163a50;
}

.text-blue-light {
    color: #3b6284;
}

.btn-white {
    background-color: #fff;
    color: black;
}

.btn-orange {
    background-color: #fbd3a9;
    color: #163a50;
}

.btn-orange:hover {
    background-color: #E47425 !important;
    box-shadow: unset;
    color: #ffffff;
}

.btn-black {
    background-color: black;
    color: #fff;
}

.btn-grey {
    background-color: #808080;
    color: white;
}

.section-top {
    padding: 6rem 0 6rem 0;
}

.embed-video {
    height: 350px;
    width: 100%;
    border-radius: 20px;
}

.bg-grey {
    background: #e6e6e6;
}


.concept-warehouse {
    padding: 3rem 0;
}

.bg-black-light {
    background-color: #333;
}

.how-man .image {
    position: relative;
    /* height: 430px; */
    overflow: hidden;
}

.how-man h2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

}

.future p,
.top-solution p,
.contact p,
.testimoni p {
    margin-bottom: 0 !important;
}

.where-use {}

.bg-grey-dark {
    background-color: #808080;
}

.text-small {
    font-size: 10pt;
}

.top-solution ul {
    padding-left: 0rem;
}

.top-solution ul li {
    list-style: none;
    list-style-type: none;
    color: #3b6284;

}

p {
    color: #3b6284;
}

.contact p,
.contact h5 {
    color: white !important;
}